body{
  background-color: #FAF9F6 !important;
}
html {
  scroll-behavior: smooth;
}

/* home */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.content {
  flex: 1; 
  padding: 20px;
  background-color: #f8f9fa;
}

footer {
  background: linear-gradient(90deg, #0a7075, #031716);
  color: #ecf0f1;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  height: auto;
}


/* Shared Page Style for Login and Register */
.page {
  display: flex;
  height: 100vh;
  width: 100%; 
}


.left-section {
  width: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa; 
}

.form-container {
  width: 90%;
  max-width: 400px; 
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.right-section {
  width: 50%; 
  position: relative;
  overflow: hidden;
}

.img-cover {
  height: 100%; 
  width: 100%; 
  object-fit: cover; 
}

.btn {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 15px;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(180deg, #032f30, #0c969c);
}

.link {
  font-size: 0.9rem;
  color: #666;
}

.link a {
  color: #007bff;
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}

/* Additional Link Styles */
.forgot-password {
  color: #007bff;
  text-decoration: none;
  margin-bottom: 20px;
}

.forgot-password:hover {
  text-decoration: underline;
}

/* navbar */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 0 40px; 
}

.navbar {
  background: linear-gradient(90deg, #0a7075, #031716);
  padding: 10px 0; 
  height: 80px !important;
}

.navbar-logo {
  width: 50px; 
  height: 50px;
  border-radius: 50%;
  object-fit: contain; 
}

.login-btn {
  background: none; 
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.login-btn svg {
  margin-right: 8px; 
  width: 35px;
  height: 35px;
}

.login-btn:hover {
  color: #dee9e7;
  transform: scale(1.1);
}

/* RoomDetail */
.room-detail {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
}

.room-detail h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.room-detail p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.room-detail img {
  width: 100%;
  height: auto;
}

/* Payment*/
.payment-detail {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
}

.payment-detail h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.payment-detail label {
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
}

.payment-detail input {
  font-size: 14px;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
}

.payment-detail button {
  font-size: 16px;
  padding: 10px 15px;
  background-color: #114342; 
  color: white;
  border: none;
  cursor: pointer;
}

.payment-detail button:hover {
  background-color: #1fb0b6; 
}


/* footer */
.footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-brand {
  flex: 1;
}

.footer-logo {
  height: 60px;
  border-radius: 50%;
}

.footer-links {
  flex: 2;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-link {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-link:hover {
  color: #1abc9c;
}

.footer-contact {
  flex: 1;
  text-align: right;
  font-size: 14px;
}

.footer-contact p {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-contact {
    text-align: center;
  }
}
